body {
    background-image:url("./assets/./images/./qbkls.png");
}

header {
    background: #ffffff;
    width: 100%;
    height:80px;
}

section {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: gray;
    width: 960px;
    float: center;
    background: #ffffff;
}

div {
}

.myname {
    float:left;
    background:#4aaaa5;
    color: white;
    height: 80px;
    margin-left: 10%;
    margin-right: 10%;
    width: 200px;
    text-align: center;
}

.menu {
    float: right;
    color: gray;
    height: 80px;
    margin-right: 14%;
    width: 240px;
    line-height: 40px;
    vertical-align: middle;
}

.link1 {
    float: left;
    width: 30%;
    height: 80px;
    color:#777777;
}

.link2 {
    float: left;
    width: 40%;
    height: 80px;
    color:#777777;
}

.link3 {
  float: left;  
  width: 30%;
  height: 80px;
  color:#777777;
}

.aboutme { 
    color:gray;
    background: white;
    width: 960px;
    height: 410px;
    float: center;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.aboutmetitle {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
img {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    width: 180px;
}

.portfolio {
    height: 200px;
    width: 140px;
}

.portfoliotext {
    position: relative;
    float: left;
}

footer {
    background:#666666;
    color: lightgray;
    width: 100%;
    height:50px;
    text-align: center;
}

.footerline {
    background:#4aaaa5;
    width: 100%;
    height:10px;
}

hr \ {color: blue;
}

h1 {font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.textbox { 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    width: 100%;
    height: 100%;
    display: inline-block;
}

input {
    width: 98%;
}

#message {
    box-sizing: border-box;
    height: 150px;
}

.button {
    background:#4aaaa5;  
    color: white;
    text-align: center;  
}

p1 {
    font-family: Arial', 'Helvetica' Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777777;
}

p2 {
    font-family: Arial', 'Helvetica' Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777777;
}

p3 {
    font-family: Arial', 'Helvetica' Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777777;
}

p4 { 
    font-family: Arial', 'Helvetica' Arial', 'Helvetica Neue', Helvetica, sans-serif;
}